<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Fazenda Tamarana - Início </title>
  <script src="https://kit.fontawesome.com/cb3fc013e7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <title>Sítio</title>
</head>
 
<body>
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="navbar-brand">
        <center>
            <a href="#" id="logo"> <span>Sítio</span> Tamarana</a>
        </center>
       
      </div> <br>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto controle">
                <li class="nav-item espacamentoitens efeito">
                    <a th:if="${logado == true}" class="nav-link nav-links" aria-current="page" href="perfil/produtos">Produtos</a>
                    <a th:if="${logado != true}" class="nav-link nav-links" aria-current="page" href="login">Produtos</a>
                </li>
                <li class="nav-item espacamentoitens efeito">
                    <a class="nav-link nav-links" href="#">Contato</a>
                </li>
                <li class="nav-item espacamentoitens efeito">
                    <a class="nav-link nav-links" href="#">Fotos</a>
                </li>
                <li class="nav-item espacamentoitens efeito">
                  <a class="nav-link nav-links" href="#">Sobre</a>
              </li>
                <li class="nav-items efeito dropdown espacamentoitens">
                    <a class="nav-link nav-links dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  
                        aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                      <li th:if="${logado != true}"><a class="dropdown-item" href="cadastro">Criar conta</a></li>
                      <li th:if="${logado != true}"><a class="dropdown-item" href="login">Fazer login</a></li>
                      <li th:if="${logado == true}"><a class="dropdown-item" href="/perfil">Meu perfil</a></li>
                      <li><a class="dropdown-item" href="#">Dúvidas frequentes</a></li>
                      <li th:if="${logado == true}"><a class="dropdown-item" href="/sair" onclick="return confirm('Deseja realmente sair?')">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <section>
    <center>
      <div class="content">
        <div class="text">
          <h2>Sítio<br><span id="help">Tamarana</span></h2>
         

          <a href="#">VER TODOS OS PRODUTOS</a>
        </div>
      </div>
    </center>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

    <section class="services">
      <div class="container">
        <div class="row justify-content-center">
          <!-- titulo -->
          <div class="col-xl-6 col-lg-8">
            <div class="title text-center">
              <h2>Nossos Serviços</h2>
              <p>Somos uma empresa especializada na venda de genética de gado Jersey. Oferecemos touros e vacas de alta qualidade, selecionados por sua produtividade, saúde e bem-estar. Nossos animais são criados nas condições ideais, garantindo que atinjam todo o seu potencial genético. </p> <br><br>
            </div>
          </div>
          <!-- /titulo -->
        </div>
        <div class="row no-gutters">

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4 color-bg text-center">
              <div class="service-icon text-center">
                <i class="fa-solid fa-vials"></i>
              </div>
              <h3>Inseminação Artificial</h3>
              <p>A inseminação artificial é uma técnica que permite a reprodução de gados jersey de forma seletiva, garantindo a qualidade genética do rebanho.</p>
            </div>
          </div>
          <!-- fim -->

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4 text-center">
              <div class="service-icon text-center">
                <i class="fa-solid fa-wheat-awn"></i>
                
              </div>
              <h3>Alimentação</h3>
              <p>Alimentação dos nossos gados é rica em nutrientes e equilibrada para garantir saúde, fertilidade e alta produção de leite.</p>
            </div>
          </div>
          <!-- fim -->

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4 color-bg text-center">
              <div class="service-icon text-center">
                <i class="fa-solid fa-vial-circle-check"></i>
              </div>
              <h3>Genética</h3>
              <p>
                A genética do gado Jersey é caracterizada por uma alta produção de leite com alto teor de gordura, além de uma boa saúde e fertilidade.</p>
            </div>
          </div>
          <!-- fim -->

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4  text-center">
              <div class="service-icon text-center">
                <i class="fa-solid fa-droplet"></i>
              </div>
              <h3>Qualidade da água</h3>
              <p>Só oferecemos água de qualidade para o gado. Água fresca, limpa e livre de contaminantes o que é essencial para a saúde e o bem-estar dos animais.</p>
            </div>
          </div>
          <!-- fim -->

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4 color-bg text-center">
              <div class="service-icon text-center">
                <i class="fa-solid fa-cow"></i>
              </div>
              <h3>Manejo do rebanho</h3>
              <p>O manejo dos nosso animais é feito de forma adequada para garantir a saúde, bem-estar e produtividade dos animais. Isso inclui a oferta de alimento de qualidade, água limpa, abrigo adequado e manejo sanitário correto.</p>
            </div>
          </div>
          <!-- fim -->

          <!-- inicio -->
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="service-block p-4 text-center">
              <div class="service-icon text-center">
                <i class="fa-regular fa-circle-check"></i>
              </div>
              <h3>Produção</h3>
              <p>Os Jersey são conhecidas por sua alta produção de leite, com média de 20 litros por dia. Seu leite também tem maior teor de gordura, o que o torna ideal para a produção de queijos e outros produtos lácteos.</p>
            </div>
          </div>
          <!-- fim -->

        </div> 
      </div> 

      <footer>
        <div class="card border-0">
          <div class="card-body px-5">
            <div class="row  justify-content-around mb-0 pt-5 ">

              <div class="col-xl-3 col-md-6 col-sm-6 col-12   my-auto">
                <ul class="list-unstyled mt-md-3 mt-5">
                  <li>
                    <p class="mb-4">Criadores: <br>
                  </li>
                  <li>
                    <div class="card card-1 border-0">
                      <div class="card-body p-0 pl-3">
                        <h6 class="mb-3"><b>Clayton Fernandes</b></h6>
                        <small>Clayton@gmail.com</small><br> <small>31
                          991094697</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-6 col-12   my-auto">
                <ul class="list-unstyled mt-md-3 mt-5">
                  <li>
                    <p class="mb-4">Criadores:</p>
                  </li>
                  <li>
                    <div class="card card-1 border-0">
                      <div class="card-body p-0 pl-3">
                        <h6 class="mb-3"><b>Eldyr Fernandes</b></h6>
                        <small>Eldyr@gmail.com</small><br> <small>31
                          801094697</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center px-3 py-3 pt-5">
          <div class="col text-center">
            <h6 class="mb-0"> <span>
                <center>
                  <div class="card-body p-0 pl-3">
                    <h6 class="mb-3"><b>Oferencimento:</b> <BR>
                      <img class="img-fluid" src="img/tamarana.png" width="350px">
              </span> </h6>
          </div>
        </div>
        </center>
      </footer>
      <hr class="colored" />
      </div>
      <button id="back-to-top"><a href="#" style="color: white; text-decoration: none;">Voltar ao topo</a></button>


      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
</body>

</html>