<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda Tamarana - Meu Perfil</title>
    <link rel="stylesheet" th:href="@{/css/produtos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/carrinho.js}"></script>
    <script src="https://kit.fontawesome.com/4269015da9.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light p-3">
        <div class="container-fluid menu" style="margin-right: 5vw;">
            <div class="logo">
                <center>
                    <a href="/"> <span>Sítio</span> Tamarana</a>
                </center>

            </div> <br>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="efeito navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="item nav-link mx-2 active" aria-current="page" href="../produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="item nav-link mx-2" href="#">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="item nav-link mx-2" href="#">Fotos</a>
                    </li>
                    <li class="nav-item">
                        <a class="item nav-link mx-2" aria-current="page" href="criacaoVaca">Sobre</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="item nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li th:if="${logado != true}"><a class="dropdown-item" href="cadastro">Criar conta</a></li>
                            <li th:if="${logado != true}"><a class="dropdown-item" href="login">Fazer login</a></li>
                            <li th:if="${logado == true}"><a class="dropdown-item" href="/perfil">Meu perfil</a></li>
                            <li th:if="${logado == true}"><a class="dropdown-item" href="/perfil/carrinho">Carrinho</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Dúvidas frequentes</a></li>
                            <li th:if="${logado == true}"><a class="dropdown-item" href="/sair"
                                    onclick="return confirm('Deseja realmente sair?')">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <h3 class="text-center">Confira seu carrinho de compras abaixo</h3>
            </div>
            <div th:if="${pedidoRealizado != null}" th:text="${pedidoRealizado}" class="alert alert-success" role="alert"></div>
        </div>

        <div class="container py-1" th:unless="${vendaPendente == false}">
            <div class="row mb-3" >
                <div class="input-group rounded justify-content-center">
                    <input type="search" class="form-control barra rounded" placeholder="Pesquisar" aria-label="Search"
                        aria-describedby="search-addon" data-search>
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #f2f2f2;">
        <div class="container py-5" data-produto-container th:unless="${vendaPendente == false}">
            <div class="row justify-content-center mb-3 sel" th:each="item : ${carrinho}" >
                <div class="col-md-12 col-xl-10" th:with="produto = ${item.produto}" th:if="${item.confirmada == 0}">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body" style="background-color: white" data-card-produto>
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img class="imgProduto" th:src="@{${produto.imgUrl}}" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5 th:text="${produto.nome}"></h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>100 vendidos</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>Alta qualidade</span>
                                        <span class="text-primary"> • </span>
                                        <span>Derivado de vacas premium</span>
                                        <span class="text-primary"> • </span>
                                        <span>Produto saudável<br /></span>
                                    </div>
                                    <p class="mb-4 mb-md-0" th:text="${produto.descricao}">
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">
                                            R$ <span id="valorproduto"
                                                th:text="${#numbers.formatDecimal(produto.preco, 0, 'POINT', 2, 'COMMA')}"></span>
                                            <span style="font-size:small;">/kg &nbsp</span>
                                        </h4>

                                        <span class="text-danger"><s>R$ </s></span>
                                        <span class="text-danger"><s
                                                th:text="${#numbers.formatDecimal(((produto.preco) / 0.7), 0, 'POINT', 2, 'COMMA')}"></s></span>
                                    </div>
                                    <h6 class="text-success">30% de desconto!</h6>
                                    <div class="marg row">
                                        <div class="d-flex d-flex flex-column col-4">
                                            <input type="number" id="quant" th:value="${item.quantidade}" 
                                            style="padding-left: 5px; "  
                                            readonly > 
                                        </div>
                                        <div class="col-8">
                                            <p style="color: rgb(78, 131, 78);">em estoque: <span
                                                    th:text="${produto.quantidade}"></span></p>
                                                  
                                                    
                                        </div>
                                        <p>Subtotal: R$<span class="subtotal" th:text="${item.subtotal}"></span></p>
                                    </div>
                                    <a href="#" 
                                            th:produto-id="${produto.id}"
                                            th:onclick="'if(confirm(\'Remover produto?\')) {window.location.href = \'' + @{/perfil/carrinho/remover/{id}(id=${produto.id})} + '\'}'"><i
                                                class="fa-solid fa-trash fa-lg d-flex justify-content-end"
                                                style="color: #f00000;" title="Remover"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <h4 style="padding-left: 8rem;">Total da compra: R$ <span id="valorTotal"></span></h4>
              
            </div>
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#finalizarCompra"
                    onclick="receberDadosFinalizar()"
                    >Finalizar compra</button>
                </div>

            </div>  
        </div>
        <div th:if="${vendaPendente == false}">
            <div class="container" >
                <div class="row">
                    <h3 class="text-center">Seu carrinho está vazio!</h3>
                    <a th:unless="${pedidoRealizado != null}" class="text-center" href="../produtos">confira nossos produtos</a>
                    <a th:if="${pedidoRealizado != null}" class="text-center" href="../../produtos">confira nossos produtos</a>
                </div>
            </div>

        </div>

        <div class="modal fade" id="finalizarCompra" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Criar pedido de compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/perfil/carrinho/criar-pedido">
                        <div class="form-floating mb-3" th:each="item : ${carrinho}" th:with="produto = ${item.produto}">
                            <div class="row">
                                <div class="col-8 "  >
                                    <input type="text" class="form-control" th:value="${produto.nome}"
                                    required readonly>
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control" th:value="${item.quantidade}"
                                    required readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3"> 
                            <input type="number" id="preco-total" name="valor" class="form-control" 
                            required readonly>
                            <label for="">Preço total</label>
                        </div>          
                        <div class="text-end">
                            <input type="number" name="usuario" th:value="${idUsuario}" id="preco-total" class="form-control" 
                            required readonly style="display: none;">
                            <button type="submit"
                                class="btn btn-md btn-primary btn-login">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    </section>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>