<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fazenda Tamarana - Meu Perfil</title>
  <link rel="stylesheet" th:href="@{/css/produtos.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-fluid menu" style="margin-right: 5vw;">
      <div class="logo">
        <center>
          <a href="/"> <span>Sítio</span> Tamarana</a>
        </center>

      </div> <br>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="efeito navbar-nav ms-auto">
          <li class="nav-item">
            <a class="item nav-link mx-2 active" aria-current="page" href="produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="item nav-link mx-2" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="item nav-link mx-2" href="#">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="item nav-link mx-2" href="#">Sobre</a>
          </li>
          <li class="nav-item dropdown">
            <a class="item nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li th:if="${logado != true}"><a class="dropdown-item" href="cadastro">Criar conta</a></li>
              <li th:if="${logado != true}"><a class="dropdown-item" href="login">Fazer login</a></li>
              <li th:if="${logado == true}"><a class="dropdown-item" href="/perfil">Meu perfil</a></li>
              <li><a class="dropdown-item" href="#">Dúvidas frequentes</a></li>
              <li th:if="${logado == true}"><a class="dropdown-item" href="/sair"
                  onclick="return confirm('Deseja realmente sair?')">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section style="background-color: #f2f2f2;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3" th:each="produto : ${listaProdutos}">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body" style="background-color: white">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img th:src="@{${produto.imgUrl}}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5 th:text="${produto.nome}"></h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>100</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>Alta qualidade</span>
                    <span class="text-primary"> • </span>
                    <span>Derivado de vacas premium</span>
                    <span class="text-primary"> • </span>
                    <span>Produto saudável<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0" th:text="${produto.descricao}">
                    Descrição do produto aqui
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">
                      R$ <span th:text="${#numbers.formatDecimal(produto.preco, 0, 'POINT', 2, 'COMMA')}"></span>
                      <span>/KG</span>
                    </h4>
                    <span class="text-danger"><s>R$ </s></span>
                    <span class="text-danger"><s th:text="${#numbers.formatDecimal(((produto.preco) / 0.7), 0, 'POINT', 2, 'COMMA')}"></s></span>
                  </div>
                  <h6 class="text-success">30% de desconto!</h6>
                  <div class="d-flex flex-column marg">
                    <button class="btn btn-primary btn-sm" type="button">Comprar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</body>

</html>