@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: green;
  background: #fff;
}
@media (min-width: 768px) {
  body {
      overflow: hidden; /*boquear scroll em pcs*/
  }
}


/* ------------------------ NAV BAR ------------------------------------------ */

.controle {
    font-size: large;
  }
  
  #logo {
    text-decoration: none;
    color: green;
    font-size: 25px;
    font-weight: 600;
  }
  
  @media (max-width:500px) {
    #logo {
      text-decoration: none;
      color: green;
      font-size: 15px;
      font-weight: 600;
    }
  }
  
  
  .nav-links {
    text-decoration: none !important;
    color: green !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 8px 15px !important;
    border-radius: 5px !important;
    transition: all 0.3s ease !important;
  }
  
  .nav-icon {
    color: rgb(0, 0, 0) !important;
  }
  
  
  .nav-icon:hover {
    color: green !important;
  }
  
  .espacamentoitens {
    padding: 40px 20px 0 0;
  }
  
  .efeito a:hover {
    background: green;
    color: rgb(255, 255, 255) !important;
  }
  .hamburguer-button .fa-bars {
    color: green; /*mudar a cor do icon do hamburguer */
}


  
  /* ------------------------ CONTEUDO ------------------------------------------ */
  
  .about-us {
    padding: 55px 0;
    background: linear-gradient(to bottom, #004d00, #006600, #008000);
    color:#fff;
  }
  
  .about {
    color: #fff;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .text {
    width: 100%;
    max-width: 540px;
  }
  
  .text h2 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .text h5 {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .span1 {
    color: #FFD700;
  }
  
  .text p {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
  }
  
  .data {
    margin-top: 1.875rem;
  }
  
  .hire {
    font-weight: 600 !important;
    font-size: 1rem !important;
    background-color: green !important; /* Definir a cor de fundo do botão como verde */
    color: #fff !important; /* Definir a cor do texto como branco */
    text-decoration: none !important;
    border: 2px solid #fff !important;
    padding: 0.625rem 2.5rem !important;
    border-radius: 0.375rem !important;
    transition: 0.5s !important;
  }
  
  .hire:hover {
    background-color: #fff !important; /* Quando o mouse passa sobre o botão, o fundo torna-se branco */
    color: green !important; /* Quando o mouse passa sobre o botão, o texto torna-se verde */
    border-color: rgb(255, 255, 255) !important; /* Cor da borda quando o mouse passa sobre o botão */
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.3125rem;
    margin-top: -0.625rem;
  }
  
  .pic {
    width: 10rem;
    max-width: 100%;
    height: 9.375rem;
    border-radius: 0.3125rem;
    border: 0.125rem solid white;
  }
  